
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}






// _____________________



:root {
  scroll-behavior: auto;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.swiper-container {
  overflow-x: clip;
  width: 100%; // because parent is flexbox
}
.swiper-skew {
  // transform: rotate(3deg);
}
.swiper {
  overflow: visible;
}
.swiper-wrapper {
  height: 65vh;
  transition-timing-function: cubic-bezier(.21,.73,.24,1) !important;
  @media (max-width: 900px) {
    height: 30vh;
  }
}
.swiper-slide {
  flex-shrink: 0;
  margin-right: 20px;
  width: auto;
  aspect-ratio: 0.9;
  height: 100%;
  // border-radius: 16px;
  background-color: grey;
  // -webkit-clip-path: url(#svgmask);
  // clip-path: url(#svgmask);
  // @media (max-width: 900px) {
  //   height: 10vh;
  //   width: 8vh;
  // }
  
  // overflow: hidden;
}
// .swiper-slide-prev {
//   transform: translateY(10px) rotate(-2deg);
// }
// .swiper-slide {
//   &:has(+ .swiper-slide-prev) {
//     transform: translateY(37px) rotate(-4deg);
//   }
// }
// .swiper-slide-next {
//   transform: translateY(10px) rotate(2deg);
//   & + * {
//     transform: translateY(40px) rotate(4deg);
//   }
// }

.movement-path {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10%;
  fill: red;
  &__left {
    left: 0;
    // transform: rotate(-90deg);
  }
  &__right {
    right: -10%;
    // transform: scale(-1, 1);
    // transform: rotate(90deg);
  }
}

